{% extends "base.html" %}
{% load static %} 
{% block content %}
<body style="background-image: url('{% static 'windowsvista.png' %}'); background-size: 100%; background-repeat: no-repeat; background-position: center; background-attachment: fixed;">
<div class="container mt-5 mt-5 windows-vista-theme">
        <h1>Windows Vista</h1>
<div class="text-boxes-grid">
            {% for text_box in text_boxes %}
                <div class="editable-text-box">
                    <!-- Controls -->
                    <!-- Title -->
                    <div class="text-box-title">Info box {{ forloop.counter0 }} - Notepad</div>
                        <div class="window-controls">
                            <div class="control minimize"> <b>_</b></div>
                            <div class="control minimize"><b>□</b></div>
                            <div class="control exit">X</div>
                        </div>
                    <!-- Menu Bar -->
                    <div class="menu-bar">
                        <span>File</span>
                        <span>Edit</span>
                        <span>Format</span>
                        <span>View</span>
                        <span>Help</span>
                    </div>
                    {{ text_box.content|safe }}
                </div>
            {% endfor %}
        </div>
        <a class="btn btn-primary btn-lg" href="{% url 'windowsxp' %}" role="button">Windows XP</a>
        <a class="btn btn-primary btn-lg" href="{% url 'windows7' %}" role="button">Windows 7</a>
        <a class="btn btn-primary btn-lg" href="{% url 'homepage' %}" role="button">Home</a>
</div>
<style>

    h1 {
        color: #333; /* Darker text color */
    }   

    .windows-vista-theme .text-boxes-grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        grid-gap: 10px;
        grid-auto-rows: minmax(100px, auto);
    }

    .windows-vista-theme .editable-text-box {
        background-color: #ffffff; /* White background */
        color: black; /* Black text color */
        font-family: Consolas, "Courier New", monospace; 
        overflow: auto;
        border-radius: 5px; /* More pronounced border radius */
        position: relative;
        padding: 5px; /* Slight padding around the text */
        border: 1px solid #d3d3d3; /* Lighter border */
        box-shadow: 2px 2px 3px #aaa; /* Softer shadow */
    }

    .windows-vista-theme .text-box-title {
        text-shadow: none; /* Remove text shadow */
        background-color: #e0e0e0; /* Lighter gray title bar */
        color: black; /* Black text color */
        padding: 3px 5px;
        font-family: Arial, sans-serif; /* Change to Arial */
        border-bottom: 1px solid #d3d3d3; 
        background-image: linear-gradient(to bottom, #e0e0e0 0%, #ffffff 100%);
    }

    .windows-vista-theme .menu-bar {
        background-color: #f0f0f0; /* Lighter gray */
        color: black;
        font-family: Arial, sans-serif; /* Change to Arial */
        padding: 2px 2px;
        display: flex;
        border-bottom: 1px solid #d3d3d3; 
    }

    .windows-vista-theme .menu-bar span {
        margin-right: 10px;
        font-size: 14px;
    }

    .windows-vista-theme .window-controls {
        position: absolute;
        top: 2.3%;
        right: 5px;
        transform: translateY(-50%);
        display: flex;
    }

    .windows-vista-theme .control {
        width: 25px;
        height: 25px;
        border: 1px solid #d3d3d3;
        margin-left: 3px;
        margin-right: 4px;
        background-color: #e0e0e0;
    }

    .windows-vista-theme .minimize,
    .windows-vista-theme .maximize {
        display: flex;
        color: black;
        justify-content: center;
        align-items: center;
        background-color: #e0e0e0; 
        padding: 2px; 
        margin-left: 1px; 
        border-radius: 15%; 
        background-image: linear-gradient(to bottom, #e0e0e0 0%, #ffffff 50%, #ffffff 50%, #e0e0e0 100%);
    }
    .windows-vista-theme .exit {
        display: flex;
        color: black;
        justify-content: center;
        align-items: center;
        background-color: #e0e0e0; 
        padding: 2px; 
        margin-left: 1px; 
        border-radius: 15%; 
    }
</style>
</body>
{% endblock %}