{% extends "base.html" %}

{% load static %} 
{% block content %}
<body style="background-image: url('{% static 'windows7.png' %}'); background-size: auto; background-repeat: no-repeat; background-position: center; background-attachment: fixed;">
<div class="container mt-5">
        <h1>Windows 7</h1>

        {% for text_box in text_boxes %}
            <div class="editable-text-box">
                {{ text_box.content|safe }}
            </div>
        {% endfor %}
        <a class="btn btn-primary btn-lg" href="{% url 'windowsVista' %}" role="button">Windows Vista</a>
        <a class="btn btn-primary btn-lg" href="{% url 'windows8' %}" role="button">Windows 8</a>
        <a class="btn btn-primary btn-lg" href="{% url 'homepage' %}" role="button">Home</a>
    </div>
</div>
{% endblock %}