{% extends "base.html" %}

{% load static %} 
{% block content %}
<body style="background-image: url('{% static 'windows7.png' %}'); background-size: auto; background-repeat: no-repeat; background-position: center; background-attachment: fixed;">
<div id="video-overlay">
    <iframe id="bg-video" width="560" height="315" src="https://www.youtube.com/embed/utUn3Gxw0SY?autoplay=1&mute=1&controls=0&loop=1&playlist=utUn3Gxw0SY" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
</div>

<div class="container mt-5 mt-5 windows-vista-theme">
        <h1>Windows 7</h1>
<div class="text-boxes-grid">
            {% for text_box in text_boxes %}
                <div class="editable-text-box">
                    <!-- Controls -->
                    <!-- Title -->
                    <div class="text-box-title">Info box {{ forloop.counter0 }} - Notepad</div>
                        <div class="window-controls">
                            <div class="control minimize"> <b>_</b></div>
                            <div class="control maximize"><b>□</b></div>

                            <div class="window-controlExit">
                                <div class="controlExit exit">X</div>
                            </div>
                        </div>
                    <!-- Menu Bar -->
                    <div class="menu-bar">
                        <span>File</span>
                        <span>Edit</span>
                        <span>Format</span>
                        <span>View</span>
                        <span>Help</span>
                    </div>
                    {{ text_box.content|safe }}
                </div>
            {% endfor %}
        </div>
        <a class="btn btn-primary btn-lg" href="{% url 'windowsVista' %}" role="button">Windows Vista</a>
        <a class="btn btn-primary btn-lg" href="{% url 'windows8' %}" role="button">Windows 8</a>
        <a class="btn btn-primary btn-lg" href="{% url 'homepage' %}" role="button">Home</a>
    </div>
</div>
<style>

    h1 {
        color: #fff; /* Darker text color */
    }   

    .windows-vista-theme .text-boxes-grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        grid-gap: 10px;
        grid-auto-rows: minmax(100px, auto);
    }

    .windows-vista-theme .editable-text-box {
        background-color: rgba(0, 100, 240, 0.3); /* White background */
        color: black; /* Black text color */
        font-family: Consolas, "Courier New", monospace; 
        overflow: auto;
        border-radius: 5px; /* More pronounced border radius */
        position: relative;
        padding: 5px; /* Slight padding around the text */
        border: 1px solid rgba(0, 100, 240, 0.3); /* Lighter border */
        box-shadow: 2px 2px 3px #aaa; /* Softer shadow */
        z-index: 1;
    }

    .windows-vista-theme .editable-text-box:before {
        content: ''; /* Required for the pseudo-element to show up */
        position: absolute;
        top: 60px; 
        right: 5px; 
        bottom: 5px; 
        left: 4px; 
        background-color: #ffffff; /* White background for the box */
        border-radius: 3px; /* Optional: if you want the white box to have rounded corners */
        z-index: -1;
    }

    .windows-vista-theme .text-box-title {
        text-shadow: none; /* Remove text shadow */
        background-color: solid rgba(224, 224, 224, 0.5); /* Lighter gray title bar */
        color: black; /* Black text color */
        padding: 3px 5px;
        font-family: Arial, sans-serif; /* Change to Arial */
        border-bottom: 1px solid #d3d3d3; 
        
    }

    .windows-vista-theme .menu-bar {
        background-color: #f3f3f3; /* Lighter gray */
        color: black;
        font-family: Arial, sans-serif; /* Change to Arial */
        padding: 2px 2px;
        display: flex;
        border-bottom: 1px solid #d3d3d3;
        border-right: 1px solid #d3d3d3; 
        border-left: 1px solid #d3d3d3; 
    }

    .windows-vista-theme .menu-bar span {
        margin-right: 10px;
        font-size: 14px;
    }

    .windows-vista-theme .window-controls {
        position: absolute;
        top: 1.5%;
        right: 5px;
        transform: translateY(-50%);
        display: flex;
    }

    .windows-vista-theme .control {
        width: 25px;
        height: 25px;
        border: 1px solid #e0e0e0;
        background-color: rgba(211, 211, 211, 0.3);
    }

     .windows-vista-theme .controlExit {
        width: 40px;
        height: 25px;
        border: 1px solid #e0e0e0;
        background-color: rgba(240, 25, 25, 0.6);
    }

    .windows-vista-theme .minimize{
        display: flex;
        color: black;
        justify-content: center;
        align-items: center;
        background-color: gray; /* Semi-transparent background */
        border-radius: 0 0 0px 5px; /* top-left, top-right, bottom-right, bottom-left */
        background-color: rgba(211, 211, 211, 0.3);
        border: 1px solid gray; /* Semi-transparent border */
    }
    .windows-vista-theme .maximize {
        display: flex;
        color: black;
        justify-content: center;
        align-items: center;
        background-color: gray; /* Semi-transparent background */
        border-radius: 0 0 0px 0px; /* top-left, top-right, bottom-right, bottom-left */
        background-color: rgba(211, 211, 211, 0.3);
        border: 1px solid gray; /* Semi-transparent border */
    }

    .windows-vista-theme .exit {
        display: flex;
        color: black;
        justify-content: center;
        align-items: center;
        background-color: rgba(240, 25, 25, 0.6); /* Semi-transparent red background */
        border-radius: 0 0 5px 0px; /* top-left, top-right, bottom-right, bottom-left */
        border: 1px solid gray; /* Semi-transparent darker red border */
    }
    #video-overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: black;
        z-index: 9999;
        opacity: 1;
        transition: opacity 2s ease-in-out;
    }

    #bg-video {
        width: 100%;
        height: 100%;
    }
</style>
<!-- JavaScript for Fade-Out Effect -->
<script>
    document.addEventListener('DOMContentLoaded', (event) => {
        setTimeout(() => {
            document.getElementById('video-overlay').style.opacity = '0';
            setTimeout(() => {
                document.getElementById('video-overlay').style.display = 'none';
            }, 2000); // Match the duration of the opacity transition
        }, 10000); // Duration for how long you want to show the video, e.g., 10 seconds
    });
</script>
</body>
{% endblock %}